/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 10, 2016, 3:54:04 PM
    Author     : Usama Jamil
*/

/* 
This is processed scss code. I was too lazy to paste the scss :D 
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #333e50;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.signup {
  width: 300px;
  margin: 60px auto;
  font-size: 12px;
}

.signup-item {
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  position: relative;
}

.signup-input {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 80px;
  background: #323D4F;
  border: none;
  border-radius: 4px;
  color: #E9E5E3;
  box-shadow: inset 0 1px 5px 0 #2c3746, 0 1px 0 #3a4556;
}

.signup-input::-moz-placeholder {
  color: #768A9D;
}

.signup-input:focus ~ .signup-label:before {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.signup-label {
  position: absolute;
  top: 0;
  left: 10px;
  color: #E9E5E3;
}

.signup-label:before {
  content: '\25b8';
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -30px;
  color: #D94356;
  opacity: 0;
}

.signup-select {
  padding-left: 80px;
  position: relative;
  z-index: 5;
  background: #374356;
  border-radius: 5px;
  color: #768A9D;
  box-shadow: 0 -1px 0 #3a4556, 0 1px 3px #2c3746;
  overflow: hidden;
}

.signup-select:after {
  content: '\25be';
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 20px;
  color: #2c3746;
}

.signup-select:hover,
.signup-select:hover::after {
  color: #E9E5E3;
  cursor: pointer;
}

.signup-select:hover .signup-select-menu {
  max-height: 400px;
}

.signup-select-menu {
  max-height: 0;
  position: relative;
  z-index: 5;
  -webkit-transition: max-height .4s ease-in;
  transition: max-height .4s ease-in;
}

.singup-select__list-item {
  position: relative;
}

.signup-select__item {
  display: block;
  padding: 1px;
  padding-bottom: 0;
  background: #374356;
  color: #768A9D;
}

.signup-select__item:before {
  content: '\25b8';
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -20px;
  z-index: 5;
  color: #D94356;
  opacity: 0;
}

.signup-select__item:hover {
  color: #E9E5E3;
}

.signup-select__item:hover::before {
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.signup-submit {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #D94356;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #E9E5E3;
}
input[type='submit']:focus {

    outline: 0px;
    outline-offset: 0px;
    box-shadow: 0px 0px 1px 5px rgba(0,0,0,0.12);
}
input[type='submit']{
    
    color: #2c3746;
    background: #00b3ee;
    width: 280px;
    height: 38px;
    margin-left: 0px;
    margin-top: -19px;
    left: 50%;
    top: 50%;
    padding-left: 10px;
    padding-right: 10px;

    transition: box-shadow 320ms;

    box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.1);
    
    border-radius: 3px;
    font-size: 18px;
    border: 0px;
}